// @import 'base/base';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');
@import 'base/variable';
@import 'base/mixins';
@import 'base/button';
@import 'pages/base_template';

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    background-color: white;
    font-family: $Quicksand;

    body {
        height: 100%;
        width: 100%;
    }
}