

.linkBnt {
    color: black;
    color: white;
    background-color: rgba(0, 129, 0, 0.2);
    backdrop-filter: blur(15px);
    // margin-top: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: 0 auto;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);

    transition: .3s ease-in-out all;
    &:hover {
        transform: scale(1.1);
        background-color: rgba(0, 129, 0, 1);
        box-shadow: 2px 5px 20px 7px rgba(0, 0, 0, 0.2);
    }

    // width:;
}