@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap");
.ButtonMainGreen {
  background-color: #af9108;
  background-color: green;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 20%, transparent 100%);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  transition: .3s all ease-in-out;
  border-radius: .5rem; }
  .ButtonMainGreen:hover {
    transform: scale(1.1);
    background-color: #af9108;
    background-image: none;
    color: white; }

.ButtonMainGold {
  background-color: #af9108;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 20%, transparent 100%);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  transition: .3s all ease-in-out;
  border-radius: .5rem; }
  .ButtonMainGold:hover {
    transform: scale(1.1);
    background-color: #af9108;
    background-image: none;
    color: white; }

.linkBnt {
  color: black;
  color: white;
  background-color: rgba(0, 129, 0, 0.2);
  backdrop-filter: blur(15px);
  padding: 1rem;
  border-radius: .5rem;
  margin: 0 auto;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
  transition: .3s ease-in-out all; }
  .linkBnt:hover {
    transform: scale(1.1);
    background-color: #008100;
    box-shadow: 2px 5px 20px 7px rgba(0, 0, 0, 0.2); }

.linkBntSharp {
  color: white;
  background-color: #008100;
  backdrop-filter: blur(15px);
  padding: 1rem;
  border-radius: .5rem;
  margin: 0 auto;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
  transition: .3s ease-in-out all; }
  .linkBntSharp:hover {
    transform: scale(1.1);
    background-color: rgba(0, 129, 0, 0.2);
    box-shadow: 2px 5px 20px 7px rgba(0, 0, 0, 0.2); }

.list_style {
  width: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top-left-radius: .5rem;
  height: 10px;
  background-color: #000; }
  .list_style:before {
    content: "";
    height: 10px;
    background-color: #b68d06;
    border-top-left-radius: .5rem; }
  .list_style:after {
    content: "";
    height: 20px;
    background-color: green;
    background-color: #b68d06;
    opacity: .5; }

.BaseTemplate {
  position: relative;
  display: grid;
  width: 100%;
  overflow: hidden; }
  .BaseTemplate .BigScreenNavigationBar {
    background-color: white;
    width: 100%;
    z-index: 20;
    transition: ease-in-out all .3s; }
    .BaseTemplate .BigScreenNavigationBar .topestDiv {
      height: 40px;
      color: white;
      padding: 0 3rem;
      background-color: black;
      font-size: .8rem;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 2fr) 10fr;
      cursor: pointer; }
      @media (max-width: 1400px) {
        .BaseTemplate .BigScreenNavigationBar .topestDiv {
          display: none; } }
      .BaseTemplate .BigScreenNavigationBar .topestDiv h3 {
        color: #b68d06; }
      .BaseTemplate .BigScreenNavigationBar .topestDiv .contactEmail {
        border-left: solid 2px #b68d06;
        padding-left: 1rem; }
      .BaseTemplate .BigScreenNavigationBar .topestDiv .contactPhone {
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 10fr; }
      .BaseTemplate .BigScreenNavigationBar .topestDiv .twog {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr) 15fr;
        gap: 1rem; }
    .BaseTemplate .BigScreenNavigationBar .overAllContainer {
      display: grid;
      padding: 0 3rem;
      grid-template-columns: 4fr 15fr 4fr;
      align-items: center;
      justify-content: center; }
      @media (max-width: 1400px) {
        .BaseTemplate .BigScreenNavigationBar .overAllContainer {
          grid-template-columns: repeat(2, 1fr); } }
      .BaseTemplate .BigScreenNavigationBar .overAllContainer .logoContainer {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer; }
        .BaseTemplate .BigScreenNavigationBar .overAllContainer .logoContainer img {
          width: 100%; }
          @media (max-width: 573px) {
            .BaseTemplate .BigScreenNavigationBar .overAllContainer .logoContainer img {
              width: 80%; } }
      .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer {
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (max-width: 1400px) {
          .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer {
            display: none; } }
        .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          border-radius: 10px; }
          .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky {
            display: grid;
            justify-content: center;
            align-items: center; }
            .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky li {
              list-style: none;
              position: relative;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 20px 30px;
              z-index: 2;
              cursor: pointer;
              transition: all .3 ease-in-out; }
              .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky li:hover, .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky li.active {
                border-bottom: solid 5px #b68d06; }
                .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky li:hover .icon, .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky li.active .icon {
                  opacity: 1; }
              .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul .Linky li .icon {
                opacity: .7;
                color: black;
                color: #b68d06;
                transition: .3s all ease-in-out; }
          .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul #highlighter {
            position: absolute;
            top: 0;
            transition: .5s;
            z-index: 1; }
            .BaseTemplate .BigScreenNavigationBar .overAllContainer .middleContainer ul #highlighter:before {
              content: '';
              position: absolute;
              top: -10px;
              left: -50%;
              transform: translateX(50%);
              width: 50px;
              height: 40px;
              border-radius: 8px; }
      .BaseTemplate .BigScreenNavigationBar .overAllContainer .userContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: black;
        gap: 2rem; }
        @media (max-width: 1400px) {
          .BaseTemplate .BigScreenNavigationBar .overAllContainer .userContainer {
            display: none; } }
      .BaseTemplate .BigScreenNavigationBar .overAllContainer .lastDiv {
        display: none;
        cursor: pointer; }
        @media (max-width: 1400px) {
          .BaseTemplate .BigScreenNavigationBar .overAllContainer .lastDiv {
            display: grid;
            justify-content: flex-end; } }
  .BaseTemplate .BigScreenNavigationBarScroll {
    background-color: white;
    width: 100%;
    transition: ease-in-out all .3s;
    height: 60px;
    position: sticky;
    position: fixed;
    top: 0;
    z-index: 20; }
    .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer {
      background-color: green;
      background-color: #48aa48;
      background-color: #837004;
      background-color: #b68d06;
      padding: 0 3rem;
      display: grid;
      grid-template-columns: 4fr 15fr 4fr;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
      align-items: center;
      justify-content: center;
      height: 100%; }
      @media (max-width: 1400px) {
        .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer {
          grid-template-columns: repeat(2, 1fr); } }
      .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .logoContainer {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .logoContainer img {
          width: 100%;
          transition: all .3s ease-in-out; }
          @media (max-width: 573px) {
            .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .logoContainer img {
              width: 80%; } }
      .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer {
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (max-width: 1400px) {
          .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer {
            display: none; } }
        .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          border-radius: 10px; }
          .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul li {
            list-style: none;
            position: relative;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 30px;
            z-index: 2;
            cursor: pointer; }
            .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul li:hover, .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul li.active {
              border-bottom: solid 5px white; }
              .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul li:hover .icon, .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul li.active .icon {
                opacity: 1; }
            .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul li .icon {
              opacity: .7;
              color: white;
              transition: .3s all ease-in-out; }
          .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul #highlighter {
            position: absolute;
            top: 0;
            transition: .5s;
            z-index: 1; }
            .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .middleContainer ul #highlighter:before {
              content: '';
              position: absolute;
              top: -10px;
              left: -50%;
              transform: translateX(50%);
              width: 50px;
              height: 40px;
              border-radius: 8px; }
      .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .userContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        gap: 2rem; }
        @media (max-width: 1400px) {
          .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .userContainer {
            display: none; } }
      .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .lastDiv {
        display: none;
        cursor: pointer; }
        @media (max-width: 1400px) {
          .BaseTemplate .BigScreenNavigationBarScroll .overAllContainer .lastDiv {
            display: grid;
            justify-content: flex-end; } }
  .BaseTemplate .SmallScreenNavigationBar {
    position: absolute;
    transform: translateX(-100%);
    height: 100%;
    transition: ease-in-out all .3s; }
  .BaseTemplate .BigScreenAsideBar {
    position: absolute;
    transform: translateX(-100%);
    height: 100%;
    transition: ease-in-out all .3s; }
  .BaseTemplate .SmallScreenAsideBar {
    position: absolute;
    transform: translateX(-100%);
    height: 100%;
    transition: ease-in-out all .3s; }
  .BaseTemplate .HomePageContent {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: minmax(min-content, max-content); }
    .BaseTemplate .HomePageContent .HeroSectionContent {
      background-image: url(../images/hero_section_img/hero_.png);
      object-fit: cover;
      background-position: center;
      background-size: cover;
      height: 800px;
      position: relative;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 1fr;
      align-items: center; }
      @media (max-width: 1400px) {
        .BaseTemplate .HomePageContent .HeroSectionContent {
          height: 100%; } }
      .BaseTemplate .HomePageContent .HeroSectionContent .arrow_left_div {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 0;
        transform: translate(100%);
        border-radius: 50%;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: .4;
        transition: all .3s ease-in-out;
        z-index: 2; }
        .BaseTemplate .HomePageContent .HeroSectionContent .arrow_left_div:hover {
          opacity: 1; }
      .BaseTemplate .HomePageContent .HeroSectionContent .arrow_right_div {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 95%;
        transform: translate(-100%);
        border-radius: 50%;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: .4;
        transition: all .3s ease-in-out;
        z-index: 2; }
        .BaseTemplate .HomePageContent .HeroSectionContent .arrow_right_div:hover {
          opacity: 1; }
      .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 1; }
        @media (max-width: 1400px) {
          .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle {
            margin: 5rem 0; } }
        .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active {
          display: grid;
          justify-content: center;
          align-items: center;
          transition: all .3s ease-in-out;
          grid-template-columns: repeat(2, 1fr);
          gap: 3rem; }
          @media (max-width: 1400px) {
            .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active {
              justify-content: center;
              grid-template-columns: 1fr; } }
          .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up {
            display: grid;
            gap: 1rem;
            margin-left: 10rem; }
            @media (max-width: 1400px) {
              .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up {
                margin: 0 auto;
                padding-left: 2rem;
                padding-right: 2rem; } }
            .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .small_title {
              text-align: left;
              font-size: 5rem; }
              @media (max-width: 1400px) {
                .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .small_title {
                  font-size: 1.5rem; } }
              @media (max-width: 486px) {
                .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .small_title {
                  margin-bottom: 1rem; } }
            .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .h3_style .slide_text {
              width: 100%;
              height: 100%;
              color: white;
              font-size: 2rem;
              text-align: left;
              z-index: 10; }
              @media (max-width: 1400px) {
                .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .h3_style .slide_text {
                  font-size: 1.5rem; } }
              @media (max-width: 486px) {
                .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .h3_style .slide_text {
                  margin-top: 2rem; } }
            .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .h2_style {
              display: grid;
              align-items: center; }
              .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .h2_style .slide_title {
                width: 100%;
                height: 100%;
                color: white;
                font-size: 10px;
                text-align: left;
                font-size: 5rem;
                top: 40%;
                z-index: 10; }
                @media (max-width: 1400px) {
                  .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .write_up .h2_style .slide_title {
                    font-size: 2rem; } }
          .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .imgDiv {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto; }
            .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .imgDiv .intermediary {
              width: 100%;
              display: flex;
              justify-content: center; }
              .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .imgDiv .intermediary .slide_image {
                width: 30%;
                height: 30%;
                object-fit: cover; }
                @media (max-width: 1400px) {
                  .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .active .imgDiv .intermediary .slide_image {
                    width: 20%;
                    height: 20%; } }
        .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .inactive {
          display: none; }
        .BaseTemplate .HomePageContent .HeroSectionContent .SliderContentStyle .slides {
          height: 100%;
          width: 100%;
          position: relative; }
      .BaseTemplate .HomePageContent .HeroSectionContent .DotsStyle {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        top: 85%;
        justify-content: center;
        z-index: 15; }
        .BaseTemplate .HomePageContent .HeroSectionContent .DotsStyle .dot {
          cursor: pointer;
          height: 1.5rem;
          width: 1.5rem;
          margin: 0px 3px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 50%;
          display: inline-block; }
        .BaseTemplate .HomePageContent .HeroSectionContent .DotsStyle .active_dot {
          background-color: rgba(255, 255, 255, 0.5); }
    .BaseTemplate .HomePageContent .AboutSectionContent {
      z-index: 15;
      padding: 2rem 0;
      position: relative;
      width: 100%;
      display: grid;
      justify-content: center;
      background: linear-gradient(#fcfcfc, #e7e7e7);
      display: grid;
      justify-content: center;
      justify-items: center;
      gap: 4rem; }
      .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy {
        width: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 2rem; }
        .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .certifiedByHeaderDiv {
          padding: 0 2rem; }
          .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .certifiedByHeaderDiv h1 {
            text-align: center;
            color: #b68d06; }
        .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .StandardCompanies {
          border-radius: .5rem;
          width: 100%;
          width: 30%;
          gap: 1rem;
          padding: 0 2rem;
          display: grid;
          justify-content: center;
          justify-items: center;
          align-items: center;
          align-content: center;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
          @media (max-width: 630px) {
            .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .StandardCompanies {
              width: 100%; } }
          .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .StandardCompanies .certImgDiv {
            width: 70%;
            gap: 0;
            border-radius: 50%;
            cursor: pointer;
            opacity: .3;
            transition: .3s all ease-in-out; }
            .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .StandardCompanies .certImgDiv:hover {
              opacity: 1;
              transform: scale(1.05);
              box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25); }
            .BaseTemplate .HomePageContent .AboutSectionContent .CertifiedBy .StandardCompanies .certImgDiv img {
              width: 100%;
              height: 100%;
              border-radius: 50%; }
      .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
        width: 1000px;
        width: 100%; }
        @media (max-width: 1215px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 900px; } }
        @media (max-width: 1020px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 800px; } }
        @media (max-width: 900px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 700px; } }
        @media (max-width: 805px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 400px; } }
        @media (max-width: 573px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 500px; } }
        @media (max-width: 486px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 250px; } }
        @media (max-width: 391px) {
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs {
            width: 200px; } }
        .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .title {
          z-index: 14;
          color: white;
          color: #b68d06;
          padding-top: 2rem;
          padding: 2rem 3rem; }
        .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .color1 {
          z-index: 13;
          position: absolute;
          height: 200px;
          height: 100%;
          width: 80%;
          opacity: .5;
          border: #b68d06 5px solid;
          box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.1); }
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .color1::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background-color: #fff;
            transform: skew(2deg, 2deg);
            z-index: 14; }
        .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .smalParag p {
          font-size: 1.5rem; }
        .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent {
          z-index: 15; }
          .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 {
            position: relative;
            border-radius: .5rem;
            width: 600px;
            box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.2);
            transition: .3s all ease-in-out;
            overflow: hidden;
            border-bottom: #b68d06 10px solid; }
            @media (max-width: 630px) {
              .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 {
                width: 500px; } }
            @media (max-width: 573px) {
              .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 {
                width: 80vw; } }
            .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .imgCont {
              width: 100%;
              overflow: hidden;
              z-index: 14; }
              .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .imgCont img {
                border-radius: .5rem;
                width: 100%;
                transition: .5s all ease-in-out;
                cursor: pointer; }
                .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .imgCont img:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.2); }
            .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1:hover img {
              border-radius: 0;
              transform: scale(1.2);
              box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.2); }
            .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1:hover .dropShadow {
              cursor: pointer;
              opacity: 1; }
            .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .dropShadow {
              position: absolute;
              top: auto;
              left: auto;
              bottom: 0;
              height: 100%;
              width: 100%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-content: center;
              grid-template-rows: 2fr 10fr;
              background: black;
              background-color: linear-gradient(#b17b06, #f3b509);
              background-color: rgba(177, 123, 6, 0.5);
              opacity: 0;
              transition: all .3s ease-in-out;
              color: white; }
              .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .dropShadow p, .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .dropShadow h2 {
                padding: 0 2rem;
                text-align: justify; }
              @media (max-width: 468px) {
                .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .aboutUsContent .image1 .dropShadow p {
                  font-size: .8rem; } }
        .BaseTemplate .HomePageContent .AboutSectionContent .mainAboutUs .TextArea {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr 1fr; }
      .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        z-index: 16; }
        .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 {
          position: relative;
          border-radius: .5rem;
          box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.2);
          transition: .3s all ease-in-out;
          overflow: hidden;
          border-bottom: #b68d06 10px solid; }
          .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 .imgCont {
            width: 100%;
            overflow: hidden;
            z-index: 14; }
            .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 .imgCont img {
              border-radius: .5rem;
              width: 100%;
              transition: .5s all ease-in-out;
              cursor: pointer; }
              .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 .imgCont img:hover {
                transform: scale(1.1);
                box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.2); }
          .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12:hover {
            z-index: 20; }
            .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12:hover img {
              border-radius: 0;
              transform: scale(1.2);
              box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.2); }
            .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12:hover .dropShadow {
              cursor: pointer;
              opacity: 1; }
          .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 .dropShadow {
            position: absolute;
            top: auto;
            left: auto;
            bottom: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            grid-template-rows: 2fr 10fr;
            background: black;
            background-color: linear-gradient(#b17b06, #f3b509);
            background-color: rgba(177, 123, 6, 0.5);
            opacity: 0;
            transition: all .3s ease-in-out;
            color: white; }
            .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 .dropShadow p, .BaseTemplate .HomePageContent .AboutSectionContent .ImageDivDown .image12 .dropShadow h2 {
              padding: 0 2rem;
              text-align: justify; }
      .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG {
        width: 100%;
        position: relative;
        display: grid;
        justify-content: center;
        justify-items: center; }
        .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG .wrapper {
          width: 80%;
          display: grid;
          justify-content: center;
          justify-items: center; }
          .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG .wrapper .TextArea {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 3rem; }
            @media (max-width: 324px) {
              .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG .wrapper .TextArea {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); } }
            .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG .wrapper .TextArea .textCard {
              box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
              padding: 1rem 2rem;
              padding-bottom: 4rem;
              display: grid;
              gap: 2rem;
              border-radius: 1rem;
              z-index: 15;
              border: 1px solid #b68d06;
              z-index: 16; }
              .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG .wrapper .TextArea .textCard p {
                color: #414141; }
              .BaseTemplate .HomePageContent .AboutSectionContent .bluredBG .wrapper .TextArea .textCard:hover {
                filter: none; }
      .BaseTemplate .HomePageContent .AboutSectionContent::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
        background: linear-gradient(#b17b06, #f3b509);
        clip-path: circle(20% at 10% 10%);
        z-index: -5;
        filter: blur(150px); }
      .BaseTemplate .HomePageContent .AboutSectionContent .bg {
        content: '';
        position: absolute;
        top: 20%;
        left: 80%;
        width: 30%;
        height: 30%;
        opacity: .2;
        background: linear-gradient(#b17b06, #f3b509);
        clip-path: circle(20% at 10% 10%);
        z-index: -5;
        filter: blur(150px); }
      .BaseTemplate .HomePageContent .AboutSectionContent .bg2 {
        content: '';
        position: absolute;
        top: 50%;
        left: 0%;
        width: 30%;
        height: 30%;
        opacity: .1;
        border: dotted 2rem #b68d06;
        z-index: -5; }
    .BaseTemplate .HomePageContent .ProductsSectionContent {
      margin-top: 4rem;
      padding: 2rem 3rem;
      position: relative;
      display: grid;
      justify-content: center;
      justify-items: center;
      margin-top: 2rem;
      display: grid;
      justify-items: center;
      gap: 1rem; }
      @media (max-width: 354px) {
        .BaseTemplate .HomePageContent .ProductsSectionContent {
          padding: 2rem; } }
      @media (max-width: 304px) {
        .BaseTemplate .HomePageContent .ProductsSectionContent {
          padding: 1rem; } }
      .BaseTemplate .HomePageContent .ProductsSectionContent .title .veryBig {
        font-size: 3rem;
        color: #b68d06; }
        .BaseTemplate .HomePageContent .ProductsSectionContent .title .veryBig::before {
          content: "";
          border-left: solid 5px #b68d06;
          border-radius: 1rem;
          padding-left: 1rem;
          margin-right: 1rem;
          background-color: #b68d06;
          left: 10%;
          top: 100%; }
        .BaseTemplate .HomePageContent .ProductsSectionContent .title .veryBig::after {
          content: "";
          position: absolute;
          left: 10%;
          top: 10%;
          border-left: solid 5px #b68d06;
          border-radius: 1rem;
          padding-right: 1rem;
          margin-left: 1rem;
          background-color: #b68d06;
          transform: rotateY(-180deg); }
      .BaseTemplate .HomePageContent .ProductsSectionContent .smalParag p {
        font-size: 1.5rem; }
      .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem; }
        @media (max-width: 573px) {
          .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct {
            grid-template-columns: 1fr; } }
        .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .productSide {
          width: 100%;
          display: grid;
          justify-content: flex-end;
          justify-items: flex-end;
          padding-right: 1rem;
          border-right: #b68d06 solid 5px;
          transition: all .3s ease-in-out; }
          @media (max-width: 573px) {
            .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .productSide {
              border-bottom: #b68d06 solid 5px;
              border-right: none; } }
          .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .productSide img {
            width: 50%; }
            @media (max-width: 1400px) {
              .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .productSide img {
                width: 80%; } }
            @media (max-width: 1400px) {
              .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .productSide img {
                width: 80%; } }
            @media (max-width: 700px) {
              .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .productSide img {
                width: 100%; } }
        .BaseTemplate .HomePageContent .ProductsSectionContent .startProduct .rightSideDescription .description .style_list {
          display: grid;
          gap: 1rem;
          grid-template-columns: 1fr 10fr; }
      .BaseTemplate .HomePageContent .ProductsSectionContent .productContent {
        display: grid;
        width: 60%;
        justify-content: center;
        justify-items: center;
        backdrop-filter: blur(5px);
        background-color: rgba(175, 135, 5, 0.5);
        border-radius: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
        gap: 1.5rem;
        padding: 5rem;
        margin: 0 auto; }
        @media (max-width: 1400px) {
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent {
            width: 80%; } }
        @media (max-width: 880px) {
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent {
            width: auto; } }
        @media (max-width: 573px) {
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent {
            padding: 2rem; } }
        @media (max-width: 375px) {
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent {
            padding: 2rem 1rem; } }
        .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard {
          display: grid;
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          padding: 1rem;
          background-color: rgba(255, 255, 255, 0.1);
          overflow: hidden;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(5px);
          cursor: pointer;
          border-radius: 1rem;
          position: relative; }
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard:hover {
            opacity: 1;
            transform: translateY(0px); }
            .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard:hover .imgDivu {
              opacity: .05; }
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .imgDivu {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            width: 150px;
            transition: .3s ease-in-out all; }
            .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .imgDivu img {
              width: 100%; }
          .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent {
            display: grid;
            opacity: 0;
            transform: translateY(100px);
            transition: .3s all ease-in-out; }
            .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent:hover {
              opacity: 1;
              transform: translateY(0px); }
            .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent .picAndnumber {
              display: grid;
              grid-template-columns: repeat(2, 1fr); }
              .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent .picAndnumber .imgDiv {
                display: grid;
                width: 70px; }
                .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent .picAndnumber .imgDiv img {
                  width: 100%; }
              .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent .picAndnumber .number {
                font-size: 3.5rem;
                color: rgba(255, 255, 255, 0.1);
                pointer-events: none; }
            .BaseTemplate .HomePageContent .ProductsSectionContent .productContent .specialCard .cardContent h3 {
              color: white;
              font-size: 2rem; }
      .BaseTemplate .HomePageContent .ProductsSectionContent::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        background: linear-gradient(#b17b06, #f3b509);
        clip-path: circle(30% at right 70%);
        z-index: -5; }
    .BaseTemplate .HomePageContent .VideoSectionContent {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 2rem;
      width: 80%; }
      @media (max-width: 486px) {
        .BaseTemplate .HomePageContent .VideoSectionContent {
          grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); } }
      .BaseTemplate .HomePageContent .VideoSectionContent .leftSideDescription {
        display: grid;
        align-items: center;
        align-content: center;
        gap: 1rem; }
        .BaseTemplate .HomePageContent .VideoSectionContent .leftSideDescription .bigTitle {
          display: grid;
          justify-content: center;
          justify-content: left; }
          .BaseTemplate .HomePageContent .VideoSectionContent .leftSideDescription .bigTitle h1 {
            color: #b68d06; }
            @media (max-width: 486px) {
              .BaseTemplate .HomePageContent .VideoSectionContent .leftSideDescription .bigTitle h1 {
                text-align: center; } }
        .BaseTemplate .HomePageContent .VideoSectionContent .leftSideDescription .smalParagraph {
          display: grid;
          justify-content: left; }
      .BaseTemplate .HomePageContent .VideoSectionContent .rightSideVideo {
        width: 100%; }
        .BaseTemplate .HomePageContent .VideoSectionContent .rightSideVideo iframe {
          width: 100%; }
    .BaseTemplate .HomePageContent .ParalaxSectionContent {
      background-image: url(../images/hero_section_img/hero_.png);
      background-image: url(../images/hero_section_img/network_hero.jpg);
      background-size: cover;
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      margin-top: 2rem; }
      .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        grid-template-rows: 2fr 10fr;
        background: black;
        background-color: linear-gradient(#b17b06, #f3b509);
        background-color: rgba(177, 123, 6, 0.5);
        background-color: rgba(0, 0, 0, 0.7);
        transition: all .3s ease-in-out;
        color: white; }
        .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay p, .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay h1 {
          padding: 0 2rem;
          text-align: center; }
        .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay p {
          margin-bottom: 2rem; }
        .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay::before {
          content: '';
          position: absolute;
          background-color: #b68d06;
          height: 10px;
          width: 10px;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%); }
          @media (max-width: 880px) {
            .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay::before {
              top: 10%; } }
          @media (max-width: 430px) {
            .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay::before {
              top: 5%; } }
        .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay::after {
          content: '';
          position: absolute;
          background-color: #b68d06;
          height: 5px;
          width: 100px;
          top: 25%;
          left: 50%;
          transform: translate(-50%, 50%); }
          @media (max-width: 880px) {
            .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay::after {
              top: 15%; } }
          @media (max-width: 430px) {
            .BaseTemplate .HomePageContent .ParalaxSectionContent .overLay::after {
              top: 10%; } }
    .BaseTemplate .HomePageContent .PackagesSectionContent {
      background-color: blanchedalmond; }
    .BaseTemplate .HomePageContent .HowItWorksSectionContent {
      background-color: aquamarine; }
    .BaseTemplate .HomePageContent .TestimonialsSectionContent {
      background-color: beige; }
    .BaseTemplate .HomePageContent .ContactSectionContent {
      background-color: bisque; }
  .BaseTemplate .AboutPageContent {
    background-color: turquoise; }
  .BaseTemplate .CompensationPlanPageContent {
    background-color: cornflowerblue; }
  .BaseTemplate .ProductsPageContent {
    background-color: darkblue; }
  .BaseTemplate .GalleryPageContent {
    background-color: aliceblue; }
  .BaseTemplate .VideosPageContent {
    background-color: darkcyan; }
  .BaseTemplate .LoginPageContent {
    background-color: yellow; }
  .BaseTemplate .RegistrationPageContent {
    background-color: wheat; }
  .BaseTemplate .FooterContainer {
    color: white;
    background-color: rgba(206, 146, 34, 0.5);
    background-color: black;
    border-top: solid 3rem #b68d06;
    z-index: 5;
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center; }
    .BaseTemplate .FooterContainer .logo {
      width: 100px; }
      .BaseTemplate .FooterContainer .logo img {
        width: 100%; }
    .BaseTemplate .FooterContainer .title {
      padding-bottom: .5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #b68d06;
      transition: .3s all ease-in-out; }
      .BaseTemplate .FooterContainer .title:hover {
        border-bottom: 1px solid black;
        border-bottom: 1px solid #b68d06; }
    .BaseTemplate .FooterContainer .FooterHeaderContainer {
      display: grid;
      justify-content: center;
      padding-bottom: .5rem;
      border-bottom: 1px solid black;
      border-bottom: 1px solid #b68d06;
      transition: .3s all ease-in-out; }
      .BaseTemplate .FooterContainer .FooterHeaderContainer:hover {
        border-bottom: 1px solid #b68d06; }
    .BaseTemplate .FooterContainer .FooterBodyContainer {
      padding: 2rem 0;
      border: solid 5px #fcde7d;
      display: grid;
      justify-content: center;
      justify-items: center;
      gap: 2rem;
      width: 80%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
      @media (max-width: 354px) {
        .BaseTemplate .FooterContainer .FooterBodyContainer {
          border: none; } }
      .BaseTemplate .FooterContainer .FooterBodyContainer .GetInTouch {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .BaseTemplate .FooterContainer .FooterBodyContainer .GetInTouch .contactDetails {
          display: grid;
          gap: 1rem; }
          .BaseTemplate .FooterContainer .FooterBodyContainer .GetInTouch .contactDetails .add_ {
            display: grid;
            grid-template-columns: 3fr 20fr; }
      .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs {
        padding: 1rem;
        display: grid;
        justify-items: center; }
        .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form {
          display: grid;
          justify-items: center;
          gap: 1rem; }
          .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #email_id {
            width: 88%;
            height: 40px; }
          .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #text_id {
            width: 88%;
            height: 60px; }
          .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #email_id, .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #text_id {
            cursor: pointer;
            backdrop-filter: blur(15px);
            outline-style: none;
            transition: .3s ease all;
            border: solid 5px #000000;
            padding: 0 1rem;
            border-radius: .1rem; }
            .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #email_id:hover, .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #text_id:hover {
              border: solid 5px #fcde7d; }
            .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #email_id:focus, .BaseTemplate .FooterContainer .FooterBodyContainer .ContactUs .contactUsbd form #text_id:focus {
              border: solid 5px #b68d06; }
      .BaseTemplate .FooterContainer .FooterBodyContainer .Explore {
        padding: 1rem; }
        .BaseTemplate .FooterContainer .FooterBodyContainer .Explore .exploration .l_in_k {
          display: grid;
          grid-template-columns: 2fr 10fr; }
          .BaseTemplate .FooterContainer .FooterBodyContainer .Explore .exploration .l_in_k .link__ {
            color: #b4adad;
            transition: .3s all ease-in-out;
            border-bottom: solid 1px black;
            width: 60px; }
            .BaseTemplate .FooterContainer .FooterBodyContainer .Explore .exploration .l_in_k .link__:hover {
              color: white;
              border-bottom: solid 1px #b68d06; }
    .BaseTemplate .FooterContainer .SocialMedia {
      display: grid;
      justify-content: center;
      width: 80%;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
      .BaseTemplate .FooterContainer .SocialMedia .allIcon {
        display: grid;
        justify-content: center; }
      .BaseTemplate .FooterContainer .SocialMedia .socFB .LogoFacebook {
        cursor: pointer; }
      .BaseTemplate .FooterContainer .SocialMedia .socIG .LogoInstagram {
        cursor: pointer; }
      .BaseTemplate .FooterContainer .SocialMedia .socGL .LogoGoogle {
        cursor: pointer;
        font-weight: 600; }
    .BaseTemplate .FooterContainer .FooterBottomContainer {
      padding: 1rem 2rem;
      background-color: #2e2e2e; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: white;
  font-family: "Quicksand"; }
  html a {
    text-decoration: none; }
  html li {
    list-style: none; }
  html body {
    height: 100%;
    width: 100%; }
  html p {
    font-size: 1.1rem; }
